{% extends "visit_komodo/layout.html" %}
{% load static %}

{% block title %}
    {% for data in destination %}
        {{ data.title }} | Visit Komodo
    {% endfor %}
{% endblock %}

{% block body %}

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-8 article">
            {% for data in destination %}
                <h4 class="head-sub">{{ data.title }}</h4>
                <p style="font-size: 20px; color: #58a6ff;" id="type">destination</p>
                <img src="{{ data.image_url }}" alt="...">
                <h2>Description</h2>
                <p>{{ data.description }}</p>
            {% endfor %}
        </div>
        <!-- Widget from skyscanner -->
        <div class="col-md-4 skyscanner-widget">
            <div data-skyscanner-widget="SearchWidget"></div>
            <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
            <div class="d-grid gap-2 mt-4">
                {% if user.is_authenticated %}
                    {% for data in destination %}
                        {% if request.user in data.wishlist.all %}
                            <button type="button" id="wishlist" class="btn btn-warning" onclick="addtoWishlist({{ data.id }})">Remove from wishlist</button>
                        {% else %}
                            <button type="button" id="wishlist" class="btn btn-primary" onclick="addtoWishlist({{ data.id }})">Add to wishlist</button>  
                        {% endif %}
                        <p>Total wishlist: <span id="totalWishlist">{{ data.wishlist.count }}</span></p>
                    {% endfor %}
                {% endif %}
            </div>
            {% for data in destination %}
            {% if request.user == data.author %}
                <div class="mt-4 d-sm-flex flex-row-reverse">
                    <button type="button" class="btn btn-danger btn-sm mx-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div><hr>
    <h4 class="head-sub">Related destination</h4>
    <div class="row row-cols-1 row-cols-md-5 g-6">
        {% for data in all %}
            <div class="col-sm">
                <a href="{% url 'view_destination' data.title %}">
                    <div class="card h-100">
                    <img src="{{ data.image_url }}" alt="..." class="card-img" height="100%" style="object-fit: cover;">
                    <div class="card-body">
                        <p class="card-text">{{ data.title }}</p>
                    </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="deleteModalLabel">Delete confitmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">
            Your contribution will be delete forever after this action
        </div>
        <div class="modal-footer">
            {% for data in destination %}
                <a role="button" href="{% url 'delete' menu=destination_menu id=data.id %}" class="btn btn-danger">Delete</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            {% endfor %}    
        </div>
      </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="editModalLabel">Update contribution</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark">
            {% for data in destination %}
            <form action="{% url 'view_destination' data.title %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="title">Title</label><br>
                        <input class="form-control form-control-sm" type="text" name="title" id="title" value="{{ data.title }}" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="description">Short Description</label><br>
                        <textarea class="form-control form-control-sm" type="text" rows="3" name="description" id="description" placeholder="Type Description">{{ data.description }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="location">Location (Street Adress, City)</label><br>
                        <input class="form-control form-control-sm" type="text" name="location" id="location" value="{{ data.location }}" placeholder="Type Location">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="photo">URL Photo</label><br>
                        <input class="form-control form-control-sm" type="url" name="photo" id="photo" value="{{ data.image_url }}" placeholder="Copy your url photo" required>
                    </div>
                    <div class="mb-3 d-flex justify-content-end">
                        <input type="submit" class="btn btn-info btn-sm mx-2" value="Submit">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" value="Cancel">Cancel</button>
                    </div>
                </fieldset>
            </form>
            {% endfor %}   
        </div>
      </div>
    </div>
</div>

{% endblock %}