{% extends "visit_komodo/layout.html" %}
{% load static %}

{% block body %}

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-8 article">
            {% for data in query %}
                <h4 class="head-sub">{{ data.title }}</h4>
                <p style="font-size: 20px; color: #58a6ff;">{{ x }}</p>
                <img src="{{ data.image_url }}" alt="...">
                <h2>Description</h2>
                <p>{{ data.body|safe }}</p>
            {% endfor %}
        </div>
        <!-- Widget from skyscanner -->
        <div class="col-md-4 skyscanner-widget">
            <div data-skyscanner-widget="SearchWidget"></div>
            <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
            <div class="d-grid gap-2 mt-4">
                <button type="button" class="btn btn-danger"><i class="bi bi-heart-fill"></i> Add to wishlist</button>
            </div>
        </div>
    </div><hr>
    <h4 class="head-sub">Related {{x}}</h4>
    <div class="row row-cols-1 row-cols-md-5 g-6">
        {% for data in all %}
            <div class="col-sm">
                <a href="{% url 'view_travelguide' data.title %}">
                    <div class="card h-100">
                    <img src="{{ data.image_url }}" alt="..." class="card-img" height="100%" style="object-fit: cover;">
                    <div class="card-body">
                        <p class="card-text">{{ data.title }}</p>
                    </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}