{% extends "visit_komodo/layout.html" %}
{% load static %}

{% block body %}

<div class="header_new_listing">
    <h3 id="header_text"><i class="bi bi-geo-alt"></i>Add place to Visit Komodo</h3>
</div>

<form action="{% url 'add_listing' %}" method="post" id="add_listing">
    {% csrf_token %}
    <fieldset>
        <legend>Information</legend>
        <div class="mb-3">
            <label class="form-label" for="place">Place Name</label><br>
            <input class="form-control form-control-sm" type="text" name="place" id="place" placeholder="Type place name" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="category">Category</label><br>
            <select class="form-control form-control-sm" name="category" id="category">
                <option value="-1">Select Category</option>
                <option value="Destination">Destination</option>
                <option value="Food">Food</option>
                <option value="Event">Event</option>
            </select>
        </div>
        <div class="mb-3">
            <span class="optional">Optional</span>
            <label class="form-label" for="photo">URL Photo</label><br>
            <input class="form-control form-control-sm" type="url" name="photo" id="photo" placeholder="Copy your url photo" required>
        </div>
        <div class="mb-3">
            <span class="optional">Optional</span>
            <label class="form-label" for="location">Location (Street Adress, City)</label><br>
            <input class="form-control form-control-sm" type="text" name="location" id="location" placeholder="Type Location">
        </div>
        <div class="mb-3">
            <span class="optional">Optional</span>
            <label class="form-label" for="description">Short Description</label><br>
            <textarea class="form-control form-control-sm" type="text" rows="3" name="description" id="description" placeholder="Type Description"></textarea>
        </div>
        <div class="mb-3">
            <input type="button" class="btn btn-primary btn-sm" value="Submit">
            <input type="button" class="btn btn-secondary btn-sm" value="Cancel">
        </div>
    </fieldset>
    
    
</form>


{% endblock %}