{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    
    <title>Visit Komodo</title>
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container-lg">
      <div>
        <a class="navbar-brand" href="#"><i class="bi bi-tsunami"></i>Visit Komodo
          <!-- <img src="{% static 'images/wonderful-indonesia.png' %}" alt="" width="70" class="d-inline-block align-top">  -->
        </a>
      </div>
      <div class="flex-row-reverse">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#"><i class="bi bi-file-earmark-richtext"></i>News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#"><i class="bi bi-bicycle"></i>Trip Guides</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="btn-login" href="{% url 'login' %}"><i class="bi bi-person-circle"></i>Sign In</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Card Menu -->
  <div class="container-lg" style="margin-top: 40px;">
    <div class="row">
      <div class="col-sm menu">
        <div class="float-start">Hotels</div>
        <div class="float-end"><i class="bi bi-house-door"></i></div>
      </div>
      <div class="col-sm menu">
        <div class="float-start">Flights</div>
        <div class="float-end"><i class="bi bi-calendar2-check"></i></div>
      </div>
      <div class="col-sm menu">
        <div class="float-start">Food</div>
        <div class="float-end"><i class="bi bi-egg-fried"></i></div>
      </div>
      <div class="col-sm menu">
        <div class="float-start">Events</div>
        <div class="float-end"><i class="bi bi-camera"></i></div>
      </div>
      <div class="col-sm menu">
        <div class="float-start">Rentals</div>
        <div class="float-end"><i class="bi bi-truck"></i></div>
      </div>
      <div class="col-sm menu">
        <div class="float-start">Packages</div>
        <div class="float-end"><i class="bi bi-binoculars"></i></div>
      </div>
    </div>
  </div>

  <!-- Popular Destination -->
  <div class="container-lg" style="margin-top: 40px;">
    <h3 style="margin-bottom: 15px;">Popular Destination Near Komodo Island</h3>
    <div class="row row-cols-1 row-cols-md-5 g-6">
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Komodo Island</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gili Trawangan</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Padar Island</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Wae Rebo</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Rinjani Mountain</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="float-end">See all</div>
  </div>
  
  <!-- Top List -->
  <div class="container-lg" style="margin-top: 50px;">
    <div class="row">
      <!-- Top Food -->
      <div class="col-sm">
        <h3 style="margin-bottom: 15px;">Food Choices</h3>

        <div class="card mb-3 top-food">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Sate Bulayak</h5>
                <p class="card-text">Sate khas Lombok, sate bulayak terbuat dari daging sapi. Bumbu kacangnya berbeda dengan yang lain, karena menggunakan santan.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 top-food">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Se'i atau Daging Asap</h5>
                <p class="card-text">Se'i atau daging asap yang biasanya menggunakan dengan daging babi atau sapi tetapi sekarang biasa ditemukan juga se'i ikan lho.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 top-food">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Nasi Kuta Raja</h5>
                <p class="card-text">Nasi kuta raja terdiri dari jangan rarit (daging sapi berbumbu) dan sambal sebie (sambal dari cabai rawit hijau).</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 top-food">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Ayam Taliwang</h5>
                <p class="card-text">Dibumbui cabai merah dan keriting, bawang merah, bawang putih, kencur, dan garam, ayam taliwang dimasak dengan cara dibakar.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 top-food">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Pelepah Manuk</h5>
                <p class="card-text">Pelepah manuk, olahan ayam dengan santan dan bumbu yang khas semakin menggugah selera.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="float-end">See all</div>

      </div>
      
      <!-- Top Events -->
      <div class="col-sm">
        <h3 style="margin-bottom: 15px;">Upcoming Events</h3>

        <div class="card mb-3 events">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Magnificent Komodo Festival</h5>
                <p class="card-text">The Festival will be highlighted with a lot of various exciting activities. There will also be Cultural Carnival and Komodo Natural Adventure.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 events">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Rinjani Mountain</h5>
                <p class="card-text">One of the best mountain in Indonesia with spectacular scenery, along with georgeus lake in the top of mountain</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 events">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Daily Hiking to Padar Island</h5>
                <p class="card-text">Make your way from the beach up to the island's peak with gorgeous view along the eye looked and get overwhelmed when you reach the top.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 events">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Komodo Dragon Tour at Rinca Island</h5>
                <p class="card-text">The islands of Komodo, Flores are special habitats that protect Indonesia’s famous Komodo Dragons, which are notable as the largest land reptile in the world.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3 events">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Diving and Dive Safari</h5>
                <p class="card-text">Explore the world’s best dive sites at Komodo National Park while cruising aboard our luxury 9-cabin cruise ship.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
        <div class="float-end">See all</div>
      </div>
    </div>
    
  </div>
  
  <footer>
    <p>Author: Ido Yudhatama<br>
    <a href="mailto:yudhatama7@gmail.com">yudhatama7@gmail.com</a></p>
  </footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>