{% extends "visit_komodo/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}
  <!-- Card Menu -->
  <!-- <div class="container-lg" style="margin-top: 40px;">
    <div class="row">
      <div class="col-md-2">
        <div class="menu">
          <div class="float-start">Hotels</div>
          <div class="float-end"><i class="bi bi-house-door"></i></div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="menu">
          <a href="https://www.google.com/travel/flights">
            <div class="float-start">Flights</div>
            <div class="float-end"><i class="bi bi-calendar2-check"></i></div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="menu">
          <a href="{% url 'destination' %}">
            <div class="float-start">Destination</div>
            <div class="float-end"><i class="bi bi-egg-fried"></i></div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="menu">
          <a href="{% url 'food' %}">
            <div class="float-start">Food</div>
            <div class="float-end"><i class="bi bi-camera"></i></div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="menu">
          <a href="{% url 'event' %}">
            <div class="float-start">Events</div>
            <div class="float-end"><i class="bi bi-truck"></i></div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="menu">
          <div class="float-start">Local</div>
          <div class="float-end"><i class="bi bi-binoculars"></i></div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Popular Destination -->
  <div class="container-lg" style="margin-top: 40px;">
    <h3 style="margin-bottom: 15px;">Popular Destination Near Komodo Island</h3>
    
    <div class="row row-cols-1 row-cols-md-5 g-6">
      {% for data in destination %}
        <div class="col">
          <div class="card h-100">
            <img src="{{ data.image }}" alt="..." class="card-img" height="100%" style="object-fit: cover;">
            <div class="card-body">
              <p class="card-text">{{ data.title }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="float-end"><a href="{% url 'destination' %}">See all</a></div>
  </div>
  
  <!-- Top List -->
  <div class="container-lg" style="margin-top: 50px;">
    <div class="row">
      <!-- Top Food -->
      <div class="col-sm">
        <h3 style="margin-bottom: 15px;">Food Choices</h3>

        {% for data in food %}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4 d-none d-md-block">
              <img class="card-img" src="{{ data.image }}" alt="bitcoin" height="100%" style="object-fit: cover;">
            </div>
            <div class="col-md-8 p-4">
                <h3 class="mb-0">{{ data.title }}</h3>
                <div class="mb-1 text-muted">Last updated {{ data.date_created | naturalday }}</div>
                <p class="card-text mb-auto">{{ data.description }}</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="float-end">
          <a href="{% url 'food' %}">See all</a>
        </div>

      </div>
      
      <!-- Top Events -->
      <div class="col-sm">
        <h3 style="margin-bottom: 15px;">Upcoming Events</h3>

        {% for data in event %}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4 d-none d-md-block">
              <img class="card-img" src="{{ data.image }}" alt="bitcoin" height="100%" style="object-fit: cover;">
            </div>
            <div class="col-md-8 p-4">
                <h3 class="mb-0">{{ data.title }}</h3>
                <div class="mb-1 text-muted">Last updated {{ data.date_created | naturalday }}</div>
                <p class="card-text mb-auto">{{ data.description }}</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="float-end">
          <a href="{% url 'event' %}">See all</a>
        </div>
      </div>
    </div>
    
  </div>

{% endblock %}