{% extends "visit_komodo/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}
  <!-- Grid Cards -->
  <!-- Popular Destination -->
  <div class="container-lg" style="margin-top: 40px;">
    <h3 style="margin-bottom: 15px;"><span class="font-red">Popular Destination</h3>
    
    <div class="row row-cols-1 row-cols-md-5 g-6">
      {% for data in destination %}
        <div class="col-sm">
          <a href="{% url 'view_destination' data.title %}">
            <div class="card h-100">
              <img src="{{ data.image_url }}" alt="..." class="card-img" height="100%" style="object-fit: cover;">
              <div class="card-body">
                <p class="card-text">{{ data.title }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="float-end"><a href="{% url 'destination' %}">See all</a></div>
  </div>
  
  <!-- Top List -->
  <div class="container-lg" style="margin-top: 50px;">
    <div class="row">
      <!-- Top Food -->
      <div class="col-sm">
        <h3 style="margin-bottom: 15px;">Food Choices</h3>

        {% for data in food %}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4 d-none d-md-block">
              <img class="card-img" src="{{ data.image_url }}" alt="food" height="100%" style="object-fit: cover;">
            </div>
            <div class="col-md-8 p-4">
                <h3 class="mb-0">{{ data.title }}</h3>
                <div class="mb-1 text-muted">Last updated {{ data.date_created | naturalday }}</div>
                <p class="card-text mb-auto">{{ data.description }}</p>
                <a href="{% url 'view_food' data.title %}" class="stretched-link">Continue reading</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="float-end">
          <a href="{% url 'food' %}">See all</a>
        </div>

      </div>
      
      <!-- Top Events -->
      <div class="col-sm">
        <h3 style="margin-bottom: 15px;">Upcoming Events</h3>

        {% for data in event %}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4 d-none d-md-block">
              <img class="card-img" src="{{ data.image_url }}" alt="event" height="100%" style="object-fit: cover;">
            </div>
            <div class="col-md-8 p-4">
                <h3 class="mb-0">{{ data.title }}</h3>
                <div class="mb-1 text-muted">Last updated {{ data.date_created | naturalday }}</div>
                <p class="card-text mb-auto">{{ data.description }}</p>
                <a href="{% url 'view_event' data.title %}" class="stretched-link">Continue reading</a>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="float-end">
          <a href="{% url 'event' %}">See all</a>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Travel Guide -->
  <div class="container-lg" style="margin-top: 40px;">
    <h3 style="margin-bottom: 15px;">Travel Guide</h3>
    
    <div class="row row-cols-1 row-cols-md-5 g-6">
      {% for data in blog %}
        <div class="col-sm">
          <div class="card h-100">
            <div class="img-overlay">
              <img src="{{ data.image_url }}" alt="..." class="card-img" height="100%">
              <h6 class="card-title">{{ data.title }}</h6>
            </div>
            <div class="card-body" style="padding: 0;">
              <p class="card-text">{{ data.short_description }}</p>
              <a href="#" class="btn btn-primary btn-sm">Continue reading</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="float-end"><a href="{% url 'travel_guide' %}">See all</a></div>
  </div>

{% endblock %}