{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    
    <title>Visit Komodo</title>
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container-lg">
      <div>
        <a class="navbar-brand" href="{% url 'index' %}"><i class="bi bi-tsunami"></i>Visit Komodo
          <!-- <img src="{% static 'images/wonderful-indonesia.png' %}" alt="" width="70" class="d-inline-block align-top">  -->
        </a>
      </div>
      <div class="flex-row-reverse">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item item-layout">
              <a class="nav-link nav-layout active" href="#"><i class="bi bi-file-earmark-richtext"></i>News</a>
            </li>
            <li class="nav-item item-layout">
              <a class="nav-link nav-layout active" href="#"><i class="bi bi-bicycle"></i>Trip Guides</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item item-layout">
                  <div class="btn-group dropstart">
                    <button type="button" data-bs-toggle="dropdown" id="btn-user"></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                      <li><a class="dropdown-item" href="#">Baskets</a></li>
                      <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                    </ul>
                  </div>
                </li>
            {% else %}
                <li class="nav-item item-layout">
                <a class="nav-link nav-layout active" id="btn-log" href="{% url 'login' %}"><i class="bi bi-person-circle"></i>Sign In</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>

  {% block body %}

  {% endblock %}
  
<footer>
  <p>Author: Ido Yudhatama<br>
  <a href="mailto:yudhatama7@gmail.com">yudhatama7@gmail.com</a></p>
</footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</body>
</html>