{% extends "visit_komodo/layout.html" %}
{% load static %}

{% block body %}
<div class="cover-photo">
</div>
<div class="row">
    <div class="col">
        <div class="profile-main container-md">
            <div class="row">
                <div class="col-2">
                    <img id="img-profile" src="https://cdn.shopify.com/s/files/1/1132/3108/files/NZ_corner_400x.jpg?v=1603743748" alt="">
                </div>
                <div class="col-8">
                    <h4>{{ request.user }}</h4>
                    <p>@{{ request.user }}</p>
                    <div class="row">
                        <div class="col-2">
                            <h4>Trip Guides</h4>
                            <p>{{ count_blog }}</p>
                        </div>
                        <div class="col-2">
                            <h4>Contributions</h4>
                            <p>{{ contributions }}</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-2">
                    <div class="d-md-flex justify-content-md-end">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#profile-form"><i class="bi bi-gear"></i>Edit profile</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<ul class="nav profile-nav">
    <div class="row">
        <div class="col">
            <li class="nav-item">
                <a class="nav-link" href="#">Starred</a>
            </li>
        </div>
        <div class="col">
            <li class="nav-item">
                <a class="nav-link" href="#">Review</a>
            </li>
        </div>
        <div class="col">
            <li class="nav-item">
                <a class="nav-link" href="#">Contributions</a>
            </li>
        </div>
    </div>
</ul>

<div class="profile-content container-md">
    <div class="row">
        <div class="col-3" style="padding: 0;">
            <div id="intro">
                <p>{{ location }}</p>
                <p>Joined in {{ date_join }}</p>
            </div>
            
            <div id="share">
                <a href="{% url 'add_blog' %}">Share anything</a><br>
                <a href="{% url 'add_listing' %}">Post place, food, or events</a>
            </div>
        </div>
        <div class="col-9" style="padding: 0;">
            <div id="activity">
                <p>Your activity will be posted here</p>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="profile-form" tabindex="-1" aria-labelledby="profile-formLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profile-formLabel">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'profile' %}" method="post">
                {% csrf_token %}
                {% for data in profile_data %}
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label><br>
                    <input value="{{ data.username }}" class="form-control form-control-sm" type="text" name="username" id="username" placeholder="Type username" disabled>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image url</label><br>
                    <input value="{{ data.image }}" class="form-control form-control-sm" type="url" name="image" id="image" placeholder="Type image url">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="bio">Bio</label><br>
                    <input value="{{ data.bio }}" class="form-control form-control-sm" type="text" name="bio" id="bio" placeholder="Type bio">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label><br>
                    <input value="{{ data.location }}" class="form-control form-control-sm" type="text" name="location" id="location" placeholder="Type location">
                </div>
                <div class="mb-3 float-end">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary btn-sm" value="Save">
                </div>
                {% endfor %}
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}