{% extends "visit_komodo/layout.html" %}
{% load static %}

{% block body %}
<div class="cover-photo">
</div>
<div class="row">
    <div class="col">
        <div class="profile-main container-md">
            <div class="row">
                <div class="col-2">
                    <img id="img-profile" src="https://cdn.shopify.com/s/files/1/1132/3108/files/NZ_corner_400x.jpg?v=1603743748" alt="">
                </div>
                <div class="col-8">
                    <h4>{{ request.user }}</h4>
                    <p>@{{ request.user }}</p>
                    <div class="row">
                        <div class="col-2">
                            <h4>Trip Guides</h4>
                            <p>{{ count_blog }}</p>
                        </div>
                        <div class="col-2">
                            <h4>Contributions</h4>
                            <p>{{ contributions }}</p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-2">
                    <div class="d-md-flex justify-content-md-end">
                        <a href="#" class="btn btn-primary btn-sm" role="button" data-bs-toggle="button"><i class="bi bi-gear"></i>Edit profile</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<ul class="nav profile-nav">
    <div class="row">
        <div class="col">
            <li class="nav-item">
                <a class="nav-link" href="#">Starred</a>
            </li>
        </div>
        <div class="col">
            <li class="nav-item">
                <a class="nav-link" href="#">Review</a>
            </li>
        </div>
        <div class="col">
            <li class="nav-item">
                <a class="nav-link" href="#">Contributions</a>
            </li>
        </div>
    </div>
</ul>

<div class="profile-content container-md">
    <div class="row">
        <div class="col-3" style="padding: 0;">
            <div id="intro">
                <p>{{ location }}</p>
                <p>Joined in {{ date_join }}</p>
            </div>
            
            <div id="share">
                <a href="#">Share your travel experience</a><br>
                <a href="{% url 'add_listing' %}">Post place, food, or events</a>
            </div>
        </div>
        <div class="col-9" style="padding: 0;">
            <div id="activity">
                <p>Your activity will be posted here</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}