{% extends "visit_komodo/layout.html" %}
{% load static %}

{% block body %}
<div class="cover-photo">
</div>
<div class="profile-main container-md">

</div>
<div class="profile-content container-md">
    <div class="row">
        <div class="col-3" style="padding: 0;">
            <div id="intro">
                <p>Intro</p>
                <p>Jember, Indonesia</p>
                <p>Joined in Mar 2021</p>
            </div>
            <div id="share">
                <p>Share your travel experience</p>
                <p>Post place, food, or events</p>
                <p>Post review</p>
            </div>
        </div>
        <div class="col-9" style="padding: 0;">
            <div id="activity">
                <p>Your activity will be posted here</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}