{% load static %}
{% load humanize %}

<div class="container-lg" style="margin-top: 40px;">
    <div class="row">
        <div class="col-3" style="border: 1px solid black;">
            <p>Sort by date event, alphabet, rating, popularity</p>
            <p>Filter by category</p>
        </div>
        <div class="col-9" style="border: 1px solid black;">
            {% for data in query %}
            <div class="card mb-3 events">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ data.image }}" alt="..." style="width: 100%;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{ data.title }}</h5>
                    <p class="card-text">{{ data.description }}</p>
                    <p class="card-text"><small class="text-muted">Last updated {{ data.date_created | naturalday }}</small></p>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
