{% extends "visit_komodo/layout.html" %}
{% load static %}
{% load humanize %}

{% block body %}
<!-- Carousel -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://www.indonesia.travel/content/dam/indtravelrevamp/en/event/experience-the-magnificent-komodo-festival-2018/Header.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <div class="jumbotron jumbotron-fluid bg-transparent">
                <div class="container">
                  <h1 class="display-4">VISIT KOMODO</h1>
                </div>
            </div>
        </div>
      </div>
      {% for data in event %}
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{{ data.image_url }}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <div class="jumbotron jumbotron-fluid bg-transparent">
                <div class="container">
                    <h1 class="display-4">{{ data.title }}</h1>
                </div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
    
<!-- Card Content -->
<div class="container-lg" style="margin-top: 40px;">
    <span id="red-line"></span>
    <h2 class="head-sub">Komodo <span class="font-red">Event</span></h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4">
            {% for data in event %}
            <div class="col col-md-3">
                <div class="card h-100" style="background-color: transparent; border: transparent;">
                    <img src="{{ data.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column" style="padding: 0;">
                        <p class="card-text"><small class="text-muted">Last updated {{ data.date_created | naturalday }}</small></p>
                        <h5 class="card-title">{{ data.title }}</h5>
                        <p class="card-text">{{ data.description }}</p>
                        <a href="{% url 'view_event' data.title %}" class="btn btn-primary mt-auto my-3">Go to page</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock %}